apiVersion: v1
kind: Pod
metadata:
  name: kubebuild-12345
spec:
  containers:
  - image: zoobab/dind:17.10-alpine
    name: kubebuild
    securityContext:
      privileged: true
    volumeMounts:
    - mountPath: /mnt
      name: mygitrepo
  volumes:
  - name: mygitrepo
    gitRepo:
      repository: {{{repo_url}}}
